@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f1fbff;
}


/* Titulos */

.h2Comunidad {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.h2Portal {
    font-size: 60px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.h2Comunidad2 {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.h2Talleres {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.h2Admision {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.h2Contacto {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.h2Sesion {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.navbar {
    box-shadow: 2px 2px 10px #999;
    position: sticky;
    top: 0;
}


/* IMAGENES */

.imagenComunidad {
    width: 350px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #999;
    margin-top: 15px;
}

.imagenMision {
    width: 400px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #999;
    margin-bottom: 15px;
}

.imagenVision {
    width: 400px;
    border-radius: 100%;
    float: left;
    box-shadow: 2px 2px 10px #999;
    margin-bottom: 15px;
}

.imagenHistoria {
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #999;
    margin-bottom: 15px;
}


/* ********* */

.whatsapp {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 50px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 80px;
    text-align: center;
    font-size: 35px;
    z-index: 1;
}

.whatsapp-icon {
    margin-top: 10px;
    font-size: 50px;
    color: #f1fbff;
}

.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.navbar .getstarted {
    background: #106eea;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 2.3;
}

.navbar-dark .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.w-100 {
    height: 100vh;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 37px;
    }
    .carousel-caption p {
        width: 100%;
    }
    .card {
        margin-bottom: 30px;
    }
    .img-area img {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
    .about-text {
        padding-top: 50px;
    }
    .card {
        margin-bottom: 30px;
    }
}