.main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#ubicacion{
    font-weight: bold;
    font-size: 20px;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#caja1,
#caja2,
#caja3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 20%; */
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

#caja1 {
    background-color: rgba(27, 89, 114, 0.767);
    color: azure;
    box-sizing: border-box;
}

#caja2 {
    background-color: rgb(72, 187, 107);
    color: azure;
}

#caja3 {
    background-color: #ea572a;
    color: azure;
}