@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f1fbff;
}

#navbarSupportedContent {
    margin-right: 50px;
}

.navbar-toggler {
    margin-right: 50px;
}

.navbar-brand {
    margin-left: 50px;
}

.section-padding {
    padding: 100px 0;
}


/* span validaciones */

.Span-correcto {
    color: #2ECC71;
}

.Span-incorrecto {
    color: tomato;
}


/* cards */

.card {
    border-radius: 20px;
    box-shadow: 2px 2px 10px #999;
    column-gap: 15px;
}

.cardImg {
    border-radius: 15px;
}

.contCard {
    margin-bottom: 10px;
}


/* Botones */

.buttonAnimated {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buttonAnimated:hover {
    background-color: #2EE59D;
    -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
}

.buttonAnimated:active {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}


/* *********************************************************** */

.buttonCarrusel {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: rgb(0, 0, 0);
}

.buttonCarrusel span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.buttonCarrusel:hover span {
    color: black;
}

.buttonCarrusel::before,
.buttonCarrusel::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.buttonCarrusel::before {
    content: "";
    background: rgb(255, 255, 255);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.buttonCarrusel:hover::before {
    transform: translate3d(100%, 0, 0);
}


/* *********************************************************** */


/* Titulos */

.h2Comunidad {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.h2Portal {
    font-size: 60px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.h2Comunidad2 {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.h2Talleres {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.h2Admision {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.h2Contacto {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.h2Sesion {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.navbar {
    box-shadow: 2px 2px 10px #999;
    position: sticky;
    top: 0;
}


/* *************** */


/* IMAGENES */

.imagenComunidad {
    width: 350px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #999;
    margin-top: 15px;
}

.imagenMision {
    width: 400px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #999;
    margin-bottom: 15px;
}

.imagenVision {
    width: 400px;
    border-radius: 100%;
    float: left;
    box-shadow: 2px 2px 10px #999;
    margin-bottom: 15px;
}

.imagenHistoria {
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #999;
    margin-bottom: 15px;
}


/* *************** */


/* Boton Whatsap*/

.whatsapp {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 50px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 80px;
    text-align: center;
    font-size: 35px;
    z-index: 1;
    box-shadow: 2px 2px 10px #999;
}

.whatsapp-icon {
    margin-top: 10px;
    font-size: 50px;
    color: #f1fbff;
}


/* *************** */


/* responsividad carrusel y imagen */

.w-100 {
    /* imagenes carrusel */
    height: 100vh;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}


/* *********** */

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


/* responsividad whatsapp */

@media only screen and (min-width: 320px) {
    .whatsapp {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 50px;
        right: 20px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 80px;
        text-align: center;
        font-size: 35px;
        z-index: 1;
    }
    .whatsapp-icon {
        margin-top: 5px;
        font-size: 40px;
        color: #f1fbff;
    }
}


/* ************** */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Styles Carrusel */
    .w-100 {
        height: 100%;
        width: 100%;
    }
    .carousel-item {
        height: 35vh;
        min-height: 300px;
    }
    .carousel-caption {
        bottom: 37px;
    }
    .carousel-caption h5 {
        bottom: 37px;
        font-size: 20px;
    }
    .carousel-caption p {
        width: 100%;
        font-size: 10px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    /* Styles Carrusel */
    .w-100 {
        height: 100%;
        width: 100%;
    }
    .carousel-item {
        height: 35vh;
        min-height: 300px;
    }
    .carousel-caption {
        bottom: 37px;
    }
    .carousel-caption h5 {
        bottom: 37px;
        font-size: 20px;
    }
    .carousel-caption p {
        width: 100%;
        font-size: 10px;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles Carrusel */
    .w-100 {
        /* imagenes carrusel */
        height: 100%;
        width: 100%;
    }
    .carousel-item {
        height: 35vh;
        min-height: 300px;
    }
    .carousel-caption {
        bottom: 37px;
    }
    .carousel-caption p {
        width: 100%;
        font-size: 10px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Styles Carrusel */
    .w-100 {
        /* imagenes carrusel */
        height: 100%;
        width: 100%;
    }
    .carousel-item {
        height: 35vh;
        min-height: 300px;
    }
    .carousel-caption {
        bottom: 37px;
    }
    .carousel-caption p {
        width: 100%;
        font-size: 10px;
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles CArrusel*/
    .w-100 {
        /* imagenes carrusel */
        height: 50vh;
    }
    .carousel-item {
        height: 50vh;
        min-height: 300px;
    }
    .carousel-caption {
        bottom: 37px;
    }
    .carousel-caption p {
        width: 100%;
        font-size: 10px;
    }
    .carousel-caption h5 {
        font-size: 50px;
    }
}


/* cards talleres  FALTA RESPONSIVIDAD*/

.profile-card-6 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-6 img {
    transition: all 0.15s linear;
}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}